.game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(lightgray 0%, lightgray 75%, gray 100%);
}

.meta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25%;
}

.meta-item {
    font-size: 5vh;
    margin: 0.5vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.board-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vh;
}

.board {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
    width: 40vh;
    box-shadow: 0 0 3vh 4vh black;
}

.board-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.square {
    height: 5vh;
    width: 5vh;
    background-color: darkgreen;
    border:black solid 0.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 25%;
}

.navigate-icon {
    color: black;
}

.navigate-icon:hover {
    cursor: pointer;
    color: white;
}