.top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.game-start {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.game-start:hover {
    cursor: pointer;
}